//  elements/_icons.scss

// Icons  (Background Images)

// Base Background icon class
//
//  ```icon``` class sets up basic styles for icons. Must always be used with icon classes
//  As these are background image icons they must always have accompanying text for accessibility.
//
// markup:
// <i class="icon icon--close">Base icon</i>


.icon::before {
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  vertical-align: middle;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 7px dashed;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
