//elements/_tables.scss

// Tables
//
// Basic table without any classes added. All table headers above rows sholud be given ```scope="col"``` for accessibilty.
// Column widths will be based on width of column cell contents.
//
// markup:
//<table>
//    <tbody>
//    <tr>
//      <th scope="col">Table Header 1</th><th scope="col">Table Header 2</th><th scope="col">Table Header 3</th>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//  </tbody>
//</table>


table {
  font-feature-settings: "kern", "liga", "tnum";
  margin: $small-spacing 0;
  max-width: 100%;
  width: 100%;

  th {
    border-bottom: 1px solid $base-border-color;
    color: $teal;
    font-weight: normal;
    line-height: 1.3;
    padding: $small-spacing 0;
    text-align: left;
    vertical-align: bottom;
  }

  td {
    border-bottom: $base-border;
    padding: $small-spacing 0;
  }

  tr,
  td,
  {
    vertical-align: middle;
  }
}

// Table with cell padding
//
//  Table is given left/right padding on cells.  Include `justified-ends` class to remove left padding from first column and right padding from last column.
//
// markup:
//<table class="table--cell-padding justified-ends">
//    <tbody>
//    <tr>
//      <th scope="col">Table Header 1</th><th scope="col">Table Header 2</th><th scope="col">Table Header 3</th>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//  </tbody>
//</table>

.table--cell-padding {
  th {
    padding: $small-spacing .5em;
    &:first-child {
      padding-left: 1em;
    }
    &:last-child {
      padding-right: 1em;
    }
  }
  td {
    padding: $small-spacing .5em;
    &:first-child {
      padding-left: 1em;
    }
    &:last-child {
      padding-right: 1em;
    }
  }
  &.justified-ends {
    th {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    td {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }

  }
}

// Fixed Table
//
// Tables are given ```table-layout: fixed;```, so columns will be equal widths by default. Custom widths
// can be applied to columns by giving the table headings percentage widths.
//
// markup:
//<table class="table--fixed">
//    <tbody>
//    <tr>
//      <th scope="col">Table Header 1</th><th scope="col">Table Header 2</th><th scope="col">Table Header 3</th>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//  </tbody>
//</table>


.table--fixed {
  table-layout: fixed;
  width: 100%;
}

// Zebra Stripped Table
//
// markup:
//<table class="table-striped">
// <thead>
//    <tr>
//      <th scope="col">Table Header 1</th><th scope="col">Table Header 2</th><th scope="col">Table Header 3</th>
//    </tr>
// </thead>
// <tbody>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//  </tbody>
// </table>

.table--striped {
  tbody tr:nth-child(odd) {
    background-color: $background-light-gray;
  }
}

// Table with hover state on rows
//
// ```.table--hover``` – add class to table to give rows hover state. Hover state is applied to rows within ```<tbody>```.
// Must place table headings within ```<thead>``` so that heading does not also get this hover style applied.
// First and last child of ```<th>``` and ```<td>``` are given left or right padding. Width of columns is controlled by classes given to ```<th>```.
//
// Icons are inline images with alt text for accessibility. Here they are inserted to the right of the table data and given left margin with the class ```.td-icon-right```.  To add them to the left of table data and have
//  a margin right use class ```.td-icon-left``` instead.
//
//  ```.last-column-right``` – adding this class to the table will align the text in the table headers and table data right.
//
// markup:
//<table class="table-fixed rows-with-hover last-column-right">
//  <thead>
//    <tr><th class="table-names" scope="col">Name</th><th class="table-data-single centered-th" scope="col">Test Score</th><th class="table-data-single" scope="col">Remediation*</th>
//    </tr>
//  <thead>
// <tbody>
//  <tr>
//    <td>Freiman, Allison</td><td class="center">58.7%<img src="assets/images/attention_2x.png" class="td-icon-right attention-icon" alt="attention!"></td><td>0:00<img src="assets/images/attention_2x.png" class="td-icon-right attention-icon" alt="attention!"></td>
//  </tr>
//  <tr>
//    <td>Miller, Stephanie</td><td class="center">60.0%<img src="assets/images/attention_2x.png" class="td-icon-right attention-icon" alt="attention!"></td><td>0:36<img src="assets/images/attention_2x.png" class="td-icon-right attention-icon" alt="attention!"></td>
//  </tr>
//  <tr>
//    <td>Salvador, Charlene</td><td class="center">62.7%<img src="assets/images/attention_2x.png" class="td-icon-right attention-icon" alt="attention!"></td><td>1:02<img src="assets/images/green-checkmark_2x.png" class="td-icon-right green-checkmark-icon" alt="OK"></td>
//  </tr>
//  <tr>
//    <td>McGovern, Terrence</td><td class="center">64.0%<img src="assets/images/attention_2x.png" class="td-icon-right attention-icon" alt="attention!"></td><td>0:00<img src="assets/images/attention_2x.png" class="td-icon-right attention-icon" alt="attention!"></td>
//  </tr>
//  <tr>
//    <td>Williams, Kelly Ann</td><td class="center">68.5%<img src="assets/images/green-checkmark_2x.png" class="td-icon-right green-checkmark-icon" alt="OK"></td><td>0:31<img src="assets/images/attention_2x.png" class="td-icon-right attention-icon" alt="attention!"></td>
//  </tr>
//  </tbody>
//  </table>

%invisible-header {
  border-bottom: 0;
  padding: 0;
}

table {
  .centered-th {
    text-align: center;
  }
  // use on inline image when placed to the right of table data
  .td-icon-right {
    margin-left: .5em;
  }
  // use on inline image when placed to the left of table data
  .td-icon-left {
    margin-right: .5em;
  }
}

.table--hover {
  >tbody>tr {
    &:hover {
      background-color: darken($base-table-color, 3%);
    }
    td {
      &:first-child {
        padding-left: 1.5em;
      }
      &:last-child {
        padding-right: 1.5em;
      }
    }
  }
  th {
    padding-bottom: 0;
    padding-top: 0;
    &:first-child {
      padding-left: $base-spacing;
    }
    &:last-child {
      padding-right: $base-spacing;
    }
  }
}

// Table with last row having no border
//
//markup:
//<table class="table--last-no-border">
//<thead>
//    <tr><th scope="col">Name</th><th scope="col">Description</th><th scope="col">Actions</th></tr>
//  </thead>
//  <tbody data-link="row" class="rowlink">
//    <tr><td><a href="#">Link One</a></td><td>Table Data</td><td class="rowlink-skip"><a href="#">Action</a></td></tr>
//    <tr><td><a href="#">Link Two</a></td><td>Table Data</td><td class="rowlink-skip"><a href="#">Action</a></td></tr>
//    <tr><td><a href="#">Link Three</a></td><td>Table Data</td><td class="rowlink-skip"><a href="#">Action</a></td></tr>
//  </tbody>
//</table>

.table--last-no-border {
  tr:last-child td {
    border-bottom: 0;
  }
}

// Basic table without border on bottom of rows
//
// markup:
//<table class="table--no-row-borders">
//    <tbody>
//    <tr>
//      <th scope="col">Table Header 1</th><th scope="col">Table Header 2</th><th scope="col">Table Header 3</th>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//    <tr>
//      <td>Division 1</td><td>Division 2</td><td>Division 3</td>
//    </tr>
//  </tbody>
//</table>

.table--no-row-borders td {
  border-bottom: 0;
}

// Add border around entire table (with cell padding class)
//
//markup:
//<table class="table--bordered">
//<thead>
//    <tr><th scope="col">Name</th><th scope="col">Description</th><th scope="col">Actions</th></tr>
//  </thead>
//  <tbody data-link="row" class="rowlink">
//    <tr><td><a href="#">Link One</a></td><td>Table Data</td><td class="rowlink-skip"><a href="#">Action</a></td></tr>
//    <tr><td><a href="#">Link Two</a></td><td>Table Data</td><td class="rowlink-skip"><a href="#">Action</a></td></tr>
//    <tr><td><a href="#">Link Three</a></td><td>Table Data</td><td class="rowlink-skip"><a href="#">Action</a></td></tr>
//  </tbody>
//</table>

.table--bordered {
  border: $base-border;
  border-collapse: separate;
  border-radius: $base-border-radius;
}

.table--break {
  word-break: break-all;
  // Non standard for webkit
  word-break: break-word;
  hyphens: auto;
}
