//layouts/_columns.scss

// Columns

// Two columns
//
// markup:
// <ul class="two-columns">
//   <li>Hello</li>
//   <li>World</li>
// </ul>
//
// .two-columns    - Divides list items into one column by default, changes to two columns at larger device sizes.
// Can be added dynamically only after there are a certain number of list items if desired.

%column-settings {
  break-inside: avoid;
  // Following styles are a hack to fix bug in Firefox so list item with long text is not split in half
  // See http://trentwalton.com/2012/02/13/css-column-breaks/ and https://bugzilla.mozilla.org/show_bug.cgi?id=549114
  // display: table causes rendering issues in IE
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  // Hyphens is not supported in Chrome even with vendor prefixes
  hyphens: auto;
}

//one column by default, changes to two columns
.two-columns {
  @include breakpoint($small-phone-screen-up) {
    columns: 2;
    column-gap: 10px;
  }
  li {
    @extend %column-settings;
  }
}

// Three columns
//
// markup:
// <ul class="three-columns">
//   <li>Hello</li>
//   <li>World</li>
// </ul>
//
// .three-columns    - Divides list items into one column by default, and adjusts number of columns up to two or three depending on screen size.
// Can be added dynamically only after there are a certain number of list items if desired.


.three-column {
  // May want to change to setting columns this way:  3 columns maximum, each column must be at least 13em wide or it there will be less than 3 columns
  // @include breakpoint($small-phone-screen-up) {
  //   columns: 3;
  //   column-width: 13em;
  // column-gap: .5em;
  // }
  @include breakpoint($extra-small-screen-up) {
    columns: 2;
    column-gap: 10px;
  }
  @include breakpoint($small-screen-up) {
    columns: 3;
    column-gap: 10px;
  }
  li {
    @extend %column-settings;
  }
}
