// layout/_footer.scss

// Flex properties to always insure a sticky footer
// taken from https://github.com/philipwalton/solved-by-flexbox/
// 2. Set `flex-shrink` to `0` to prevent some browsers from
//    letting these items shrink to smaller than their content's default
//     minimum size. See http://bit.ly/1Mn35US for details.
// HTML structure
// <body class="body">
//   <header>…</header>
//   <main class="main">…</main>
//   <footer>…</footer>
// </body>

.footer {
  flex: none; /* 2 */
}

footer {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 75px;
  padding: $base-spacing 0;
}
